* {
  font-family: 'Open Sans', sans-serif
}

body {
  background-color: #F4F4F4;
}

.navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  position: relative; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 68px;
}

/* .parent {
  background-color: orange;
  position: relative;
  width: 1181px;
  margin-left: 130px;
  margin-top: 121px;
} */

.left {
  /* background-color: green; */
  position: absolute;
  width: 776px;
  margin-top: 53px;
  margin-left: 130px;
  display: inline-block;
}

.right {
  /* background-color: yellow; */
  position: absolute;
  width: 372px;
  display: inline-block;
  margin-left: 939px;
  margin-top: 53px;
}

.left-box-1 {
  background-color: green;
  /* width: 776px; */
  height: 486px;
  /* background-color: #FFFFFF; */
  text-align: center;
}

.bridge {
  width: 776px;
}

.left-box-2 {
  background-color: black;
  display: block;
  /* width: 776px; */
  height: 458px;
  /* margin-top: 37px; */
}

.left-box-3 {
  background-color: black;
  display: block;
  /* width: 776px; */
  height: 1066px;
  margin-top: 42px;
}

.sculpture {
  width: 776px;
}

.left-box-4 {
  background-color: black;
  display: block;
  /* width: 776px; */
  height: 895px;
  margin-top: 43px;
}

.mouse {
  width: 776px;
}

.left-box-5 {
  background-color: black;
  display: block;
  /* width: 776px; */
  height: 976px;
  margin-top: 44px;
}

.coffee {
  width: 776px;
}

h6 {
  margin-top: 38px;
  color: #6AB2D9;
}

.h1-liberty-bridge {
  position: absolute;
  margin-top: -9px;
  margin-left: 125px;
  font-size: 24.5px;
  font-weight: normal;
  color: #333333;
  /* letter-spacing: 1.0px; */
}

p {
  color: #434343;
  font-size: 15px;
  line-height: 1.75em;
  text-align: left;
  padding: 45px;
}

.continue-reading-btn {
  background-color: #FFFFFF;
  color: #7FCCF1;
  font-size: 13px;
  width: 188px;
  height: 46px;
  position: absolute;
  margin-top: -21px;
  margin-left: -95px;
  letter-spacing: 0.25px;
  border-color: #EEEEEE;
  border-style: solid;
}


/* Img dimensions 776x486 */
.mill {
  width: 776px;
  height: 486px;
}

.right-box-1 {
  /* background-color: #FFFFFF; */
  background-color: black;
  display: block;
  /* position: relative; */
  /* width: 776px; */
  height: 702px;
}

.greenville {
  width: 371px;
  height: 187px;
}

.right-box-2 {
  background-color: black;
  display: block;
  /* width: 776px; */
  height: 944px;
  margin-top: 37px;
}

.right-box-3 {
  background-color: black;
  display: block;
  /* width: 776px; */
  height: 512px;
  margin-top: 37px;
}

.right-box-4 {
  background-color: black;
  display: block;
  /* width: 776px; */
  height: 420px;
  margin-top: 37px;
}

/* footer {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
} */
